body {
  font-family: arial, sans-serif;
  color: #36454f;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: o;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #f0f8ff;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgba(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
}
.weather-temperature .active {
  color: rgba(33, 33, 33);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.btn {
  background-color: #23395d;
  border: 1px darkgray;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: #423d5d;
  opacity: 0.6;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
.weather-forecast-temperatures {
  font-size: 13px;
}

#celsius-link {
  text-decoration: none;
}
#fahrenheit-link {
  text-decoration: none;
}
.overview {
  position: relative;
  margin-left: 5px;
}
.units {
  position: relative;
  margin-left: 2px;
  margin-top: 2px;
}
#conditions {
  position: relative;
  margin-top: 20px;
}